<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.ufcg.edu/compiladores/pascal/Pascal"
			class = "edu.ufcg.compiladores.pascal.pascal.PascalPackage"
			genModel = "model/generated/Pascal.genmodel" />
	</extension>
</plugin>
